<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
   <!-- <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">
    <title>Iris K-means</title>
    <link rel="icon" href="{{url_for('static', filename='images/icon.png')}}" type="image/jpg">
</head>
<body>

<!--NavBar-->
<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="" style="position:relative;left:10px;"><img src="{{url_for('static', filename='images/icon.png')}}" style="height:40px;width:40px;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="">Iris K-means <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 d-flex justify-content-start">
            <div class="Description">
                <h1 class="display-4"><strong>Iris K-means Clustering</strong></h1>
            </div>
        </div>
    </div>
</div>


<!--Form-->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">


            <div class="card">
                <div class="card-body">
                    <div class="card-text">
                        <div class="form-group">
                            <form action="/" enctype="multipart/form-data" id="form" method="post">
                                <div class="form_option">
                                    <label for="x_var">Please choose X-variable:</label>
                                    <br>
                                    <select id="x_var" name="x_var" class="custom-select">
                                        <option value="0">Sepal Length</option>
                                        <option value="1">Sepal Width</option>
                                        <option value="2">Petal Length</option>
                                        <option value="3">Petal Width</option>
                                    </select>
                                </div>
                                <br>
                                <div class="form_option">
                                    <label for="y_var">Please choose Y-variable:</label>
                                    <br>
                                    <select id="y_var" name="y_var" class="custom-select">
                                        <option value="1">Sepal Width</option>
                                        <option value="0">Sepal Length</option>
                                        <option value="2">Petal Length</option>
                                        <option value="3">Petal Width</option>
                                    </select>
                                </div>
                                <br>
                                <div class="form_option">
                                    <label for="cluster_num"> Please choose number of clusters:</label>
                                    <br>
                                    <input id="cluster_num" max="5" min="1" name="cluster_num" step="1" type="range" class="custom-range"
                                           value="3" onmousemove="rangeSlider(this.value)"
                                           onChange="rangeSlider(this.value)">
                                    <span id="rangeValue">3</span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-7">
            <div class="info">
                <p class="display-5">Whenever a user changes an input (i.e. either the sepal / petal type or the
                    number-of-clusters slider), the k-means Python function is updated and the visuals (i.e. the scatter
                    plot showing the clusters and their centroids) changes automatically. This demonstrates that we can
                    develop seemingly simple interactive webapps that are powered by advanced analytics under the
                    bonnet.
                    This is very similar to the Shiny product developed by RStudio (see Shiny - Kmeans example for their
                    equivalent based on R). This is very similar to the Shiny product developed by RStudio (see Shiny - Kmeans example for their equivalent based on R). Go up a level to the main gallery (https://shiny.rstudio.com/gallery/) to see many other examples of what other people have done using this approach. Our webapps will be deployed into PwC’s Azure subscription and can link
                    seamlessly
                    to our internal data sources, like the EDP, plus we use Python (much better). Webapps allow us to create simple and elegant solutions that can be scaled into fully fledged applications. Compared to existing tools, webapps enable the user to have increased control over the functionality and interactivity of the end-product. We could also help our
                    colleagues in the different lines of service to develop webapps for our clients, the options are
                    almost
                    endless.</p>
                <img src="{{url_for('static',filename='images/iris.png')}}">
            </div>
        </div>
    </div>
</div>

<!--plot image-->
<div class="container">
    <div class="graph">
            <div class="chart" id="chart" style="height:600px;">
            </div>
    </div>
</div>

<!-- Optional JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!--AJAX-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
<script type="text/javascript">
                                function rangeSlider(value) {
                                    document.getElementById("rangeValue").innerHTML = value;
                                }
</script>
<script>
  var cluster_num = document.getElementById('cluster_num');
  var x_var = document.getElementById('x_var');
  var y_var = document.getElementById('y_var');

    form.onchange = function() {
        $.post({
                url: '/cluster_num',
                contentType: "application/json",
                data: JSON.stringify({"cluster_num": cluster_num.value, "x_var": x_var.value, "y_var": y_var.value})
        }).done(function(data) {
                var plt_data = [];
                var i;
                for (i=0; i < cluster_num.value; i++) {
                    plt_data.push({x: data["XT" + i.toString()], y: data["YT" + i.toString()], mode: 'markers', type:'scatter', marker:{size:12}});

                }

                plt_data.push({x: data["XCC"], y: data["YCC"], mode: 'markers', type:'scatter', marker:{color: 'black',size:20, symbol: 'x-thin',line:{width:3}}});

                x_label = x_var.options[x_var.selectedIndex].text;
                y_label = y_var.options[y_var.selectedIndex].text;
                var layout = {xaxis: {title: {text: x_label}},yaxis: {title: {text: y_label}},showlegend: false};
                Plotly.newPlot('chart',plt_data, layout);
        });
    }


















</script>

</html>